<!DOCTYPE html>
<html>
<%- include('../../layout/head') %>

<body>
  <%- include('../../layout/header') %>

  <main>
    <ul>
      <li>
        <%- include('detail', {book: bookDetails}) %>
      </li>
    </ul>
  </main>
</body>
</html>