<header>
    <p>Books!!</p>
    <div class="container" onclick="hamburgerMenu(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
      <ul class="menulist">
        <li><a class="menuitems" href="/">Home</a></li>
        <li><a class="menuitems" href="/new-book-search">Search</a></li>
      </ul>
    </div>
  </header>
  <script src="/js/app.js"></script>